body {
    background-color: lightblue;
}

* { box-sizing: border-box }

.totalSpace {
    position:relative;
    width: 600px;
    
    margin: 100px auto auto;

}

.logo {

    float:left;
    width: 340px;
    height: 400px;
}

.logo img {
	border:solid;
}


#loginDiv{
	border:solid;
	background: white;
    width: 250px;
	float: left;
	margin: 4px;
	margin-top:0;
	margin-left: 10px;
	margin-right: 0px;
	padding: 4px;

}


.inputFields {

	overflow:hidden;
    margin: 2px;
}

.inputFields label{

	/*float:right;*/
	font-size: 13px;
	line-height: 13px;


}

.inputFields input {
	float:right;
    width: 55%;

}


.submitButtons {
	float:right;



}

p {
	text-align: center;
	font-weight: bold;
}




#signUpDiv {
	border:solid;
	background: white;
	width: 250px;
	height: 320px;
	float: left;
	margin:8px;
	margin-left: 10px;
	margin-right: 0;
	margin-top: 0;
}

#signUpDiv select{
	float:right;
    width:55%;

}

#divTest {
/*
    height:400px;
    width:400px;
*/
}

#logoutDiv {
    position:relative;
    right:0;
    bottom:0;
    left: 0;
    top: 0;

}

#logoutButton {
    width:100px;
    height:20px;
    position:relative;
    /*left: 494px;
    top: 374px;
*/


}



#displayHome {
    float:right;
    width: 600px;
    border:solid blue;
    min-height: 320px;
    position:absolute;
}



#displayBrowse {
    float:right;
    width: 600px;
    height: 400px;
    border:solid red;
    position:absolute;
}

#displayAccount {
    width: 600px;
    height: 400px;
    border: solid green;
    position:absolute;
}

.panelTab {
    width:100px;
    border:solid;

}

#submitButton {
    position:relative;
    left:535px;

}


#personalInfo {
    width: 130px;
    height: 190px;
    background-color:white;
    border:solid;
}

.personalInfoField {
    text-align: center;
    font-size: 10pt;
}

#postMessage {
    margin-top:10px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
}

#wall {
    background-color: white;
    float:left;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 400px;
}


#homePanel {
    float: right;
}

#reloadWallButton {
    width: 130px;
    height: 100px;
   /* float: right;*/
}

#searchForm {
    margin-left: 10px;
    margin-top: 30px;
}


.alertMessage {
    font-size: 7pt;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#changePasswordText {
    margin-left: 200px;
    position:absolute;
    visibility: visible;

}

.messageDiv {
    margin-top: 10px;
    margin-bottom: 10px;

}

#viewCounter{
    width:130px;
    border-color: black;
    height: 20px;
}

#profileCounter{
    color: black;
}

#onlineDiv{

    margin-right: 20px;
}



