/*

Lesson 1,
Subject: Client-side programming
Date and time: Monday, January 26th 2014. 08:15-10 am.
Location: C2 Seminar room, C building, Campus Valla.
Author: Sahand Sadjadee

Revised version.

*/


ul{
    list-style-type: none;

}

li{
    display: inline;
    float: left;
}

selected{
    background-color: red;
}

#topmenu div{

    cursor: pointer;
    float:left;
    display: inline;
    margin-left: 10px;
}

input{
    width: 100%;

}
